body {
    font-family: sans-serif;
    background-color: black;
}

.centerbox {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: rgba(255,255,255,0.4);
    width: 350px;
    height: 300px;
    padding: 25px 5px 5px 5px;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.centertext { 
    text-align: center;
}

.bold {
    font-weight: bold;
}

.large {
    font-size: x-large;
}